$font-family: "Montserrat", sans-serif;

$bg-color: #fff;
$color-primary: #221f20;
$color-secondary: #6c6d70;
$color-hover: #ac2f33;
$color-check: #2cb5ff;
$color-highlight: #5b73e8;
$color-active-light: #f3f8fb;
$white: #fff;
$grey: #e7e8e9;
$color-btn-submit: #3668de;

$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

$border: 1px solid #e7e8e9;
