$font-family: "Montserrat", sans-serif;

$bg-color: #fff;
$color-primary: #221f20;
$color-secondary: #6c6d70;
$color-hover: #ac2f33;
$color-check: #2cb5ff;
$color-highlight: #5b73e8;
$color-active-light: #f3f8fb;
$white: #fff;
$grey: #f5f6f8;
$color-blue: #3668de;
$color-success: #34c38f;
$color-border: #ced4da;
$color-red: #f46a6a;
$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
$box-shadow-horizal: 0 2px 4px rgb(15, 34, 58, 0.12);
$color-blue-primary: #116dff;
$color-blue-light: #eaf7ff;
$border: 1px solid #e7e8e9;
