@use "../../scss/" as *;

.customer {
  padding: calc(70px + 1.5rem) 1.5rem 0 calc(250px + 1.5rem);
  width: 100%;
  background-color: $grey;
  .customer-container__header {
    padding: 0 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 1.25rem;
    }
  }
  .btn-add {
    margin-bottom: 1rem;
    background-color: $color-success;
    color: $white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
